@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .containerb{
    @apply w-full max-w-[1687px] mx-auto px-5  
  }
}





.sharx {
  width: 100%;
  max-width: 1177px;
  height: 575px;
  box-shadow: 0px 0px 10px 3px #00000024;

}






.swiper-button-prev{
  margin-right: 200px;
}


